
<div class="changelog">
    <div class="version">
        <div class="version-header">
            <span class="version-number">v2.0.0</span>
            <span class="version-date">February 5, 2025</span>
        </div>

        <div class="change-type">
            <h3>New Features</h3>
            <ul class="changes-list">
                <li>Added dark mode support <span class="tag tag-feature">Feature</span></li>
                <li>Introduced new dashboard layout <span class="tag tag-feature">Feature</span></li>
            </ul>
        </div>

        <div class="change-type">
            <h3>Bug Fixes</h3>
            <ul class="changes-list">
                <li>Fixed mobile navigation issues <span class="tag tag-fix">Fix</span></li>
                <li>Resolved login authentication error <span class="tag tag-fix">Fix</span></li>
            </ul>
        </div>

        <div class="change-type">
            <h3>Improvements</h3>
            <ul class="changes-list">
                <li>Enhanced loading performance <span class="tag tag-improvement">Improvement</span></li>
                <li>Updated documentation <span class="tag tag-improvement">Improvement</span></li>
            </ul>
        </div>
    </div>

    <div class="version">
        <div class="version-header">
            <span class="version-number">v1.9.0</span>
            <span class="version-date">January 15, 2025</span>
        </div>

        <div class="change-type">
            <h3>New Features</h3>
            <ul class="changes-list">
                <li>Added export to PDF functionality <span class="tag tag-feature">Feature</span></li>
            </ul>
        </div>

        <div class="change-type">
            <h3>Improvements</h3>
            <ul class="changes-list">
                <li>Optimized image loading <span class="tag tag-improvement">Improvement</span></li>
                <li>Updated UI components <span class="tag tag-improvement">Improvement</span></li>
            </ul>
        </div>
    </div>
</div>
